.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(199 197 182);
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  z-index: 1000;
  min-width: 360px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.spaceApplication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formGroup input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.formGroup span.error {
  color: red;
  font-size: 0.875em;
}

.submitButton {
  padding: 10px 15px;
  border: none;
  background-color: rgb(199 197 182);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: #cccccc;
}

.rulesButton {
  background: none;
  border: none;
  color: #a46767;
  text-decoration: underline;
  cursor: pointer;
}

.rulesContainer {
  padding: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
/* SpaceApplication.module.css */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.overlay {
  /* Asigură-te că overlay-ul acoperă întregul ecran */
  background: rgba(0, 0, 0, 0.5); /* Exemplu de stil */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}