/* Stilurile generale pentru desktop și tabletă */
.container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  margin-top: 40px;
}

.mainArticle {
  flex: 3;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  font-family: 'Roboto', Arial, sans-serif;
  border-radius: 15px;
}

.articleItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.articleImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.articleTitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}

.articleContent {
  margin-top: 20px;
}

.activeArticle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: white;
  font-family: 'Roboto', Arial, sans-serif;
  border-radius: 15px;
  margin-left: 25px;
}

.articleImageMain {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

/* Media queries pentru telefoane și tablete */
@media screen and (max-width: 1024px) {
  .container {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }

  .mainArticle {
    margin-right: 0;
    margin-bottom: 20px;
    flex: none;
  }

  .sidebar {
    max-height: none;
    overflow-y: visible;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Optional: pentru scroll snapping */
    scroll-padding: 10px;
  }

  .articleItem {
    min-width: 280px; /* Ajustează această dimensiune în funcție de design */
    flex-shrink: 0;
    margin-bottom: 0; /* Elimină marginile între articole pentru a arăta bine în scroll orizontal */
    margin-right: 15px;
  }

  .articleImage {
    width: 100px;
    height: 100px;
  }

  .articleContent {
    margin-top: 10px;
  }

  .activeArticle {
    margin-left: 0;
    padding: 10px;
    box-shadow: none;
    margin-top: 30px;
  }

  .articleImageMain {
    max-height: 200px;
  }
}
