.navbar {
  display: flex;
  justify-content: space-between; /* Space between logo and nav items */
  align-items: center;
   background-color: rgba(248, 250, 248, 0.9);  /* Light blue background with transparency */
  height: 50px; /* Set height */
  padding: 0 30px; /* Padding to add some space on the sides */
  /* position: fixed; Fix the navbar at the top */
  top: 0; /* Position it at the very top of the page */
  width: 100%; /* Make sure it spans the full width */
  z-index: 1000; /* Ensure it is above other elements */
  margin-bottom: 2px;
}

.logo {
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  color: blue; /* Blue text color */
  font-family: "Poppins", sans-serif;
}

.logo img {
  width: 120px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.navList li {
  margin-left: 10px; /* Add some spacing between the list items */
}

.navList li a {
  color: #423f3f; /* Black text color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Padding for clickable area */
  font-family: "Open Sans", sans-serif;
}

.navList li a:hover {
  color: #5697d0; /* Blue text on hover */
}
