/* Resetări generale și setări de bază */
.team {
  font-family: 'Roboto', sans-serif;
  color: #473b3b;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.teamTitle {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.heading {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #333333c7;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
}

.teamMembers {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.teamMember {
  width: 100%;
  max-width: 250px; /* Setare explicită a dimensiunii maxime */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transform: scale(0.8, 0.8);
  padding: 20px;
  transition: all 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.teamMember:hover {
  opacity: 1;
  transform: scale(1, 1);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.pic {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin: 10px 0 5px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.position {
  color: #473b3b;
  font-size: 18px;
}

/* Styling pentru Desktop */
@media screen and (min-width: 1200px) {
  .teamMembers {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* Adaugă spațiu între carduri */
  }

  .teamMember {
    width: calc(25% - 30px); /* 4 carduri pe rând, minus margini */
    margin: 15px; 
  }
}

/* Styling pentru Tabletă */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .teamMembers {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 1000px; */
  }

  .teamMember {
    width: calc(33.33% - 30px); /* 3 carduri pe rând */
    margin: 15px;
  }
}

/* Styling pentru Mobil */
@media screen and (max-width: 767px) {
  .teamMembers {
    flex-direction: column;
    align-items: center;
  }

  .teamMember {
    width: calc(100% - 30px); /* 1 card pe rând */
    margin: 15px 0;
  }
}
