body {
  margin-top: 100px !important;
}

.team {
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(198, 199, 199, 0.46);
}

.teamMembers {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping of flex items */
  justify-content: center;
  align-content: center;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin: 20px;
}

.pic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #FABC3C;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #FABC3C; /* Red border as requested */
}

.pic img {
  width: 100%;
  /* height: 100%; */
  /* border-radius: 50%; */
  position: absolute;
  top: 0;
  left: 0;
}



.title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #423f3f;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.post {
  display: block;
  font-size: 15px;
  color: #333;
  text-transform: capitalize;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .teamMember {
    width: 220px;
  }
}

@media only screen and (max-width: 990px) {
  .teamMember {
    width: 180px;
  }
}

@media only screen and (max-width: 767px) {
  .teamMember {
    width: 160px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .teamMembers {
    flex-direction: column;
  }

  .teamMember {
    width: 100%;
    margin: 10px 0;
  }
}
