@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.team{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #473b3b;
    text-align: center;
    box-sizing: border-box;
}

.teamTitle{
  display: flex;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
/* background-color: rgb(199 216 96 / 5%); */

}

.heading {
  margin-top: 30px;
}

.subtitle {
 
}

.teamMembers {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 0px 15px;
 
  
  border-radius: 10px;
  /* background-color: rgb(199 216 96 / 5%);; */
}

.teamMember {
  width: 200px;
  min-height: 360px;
  /* background-color: #d5e2ed9e; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transform: scale(0.8, 0.8);
  padding: 20px;
  transition: all 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.teamMember:hover {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    /* border: 1px solid #5f6368; */
}

.pic {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
    margin: 10px 0 5px;
    font-weight: 700;
}

.position {
  color: #473b3b;;
}
